<!DOCTYPE html>
<html>

<head>
    <title>Simulator_home</title>
</head>

<body>

    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'simulator/style.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'simulator/side_menu.css' %}" />

    <ul>
        <li><a id="li_home" href="{% url 'simulator:index' %}">Home</a></li>
        <li><a id="li_cr_build" href="{% url 'simulator:newBuilding' %}">Create building</a></li>
        <li><a id="li_bu_det" href="{% url 'simulator:newBuildingDetails' %}">Building details</a></li>
        <li><a id="li_ru_sim" href="{% url 'simulator:newSimulation' %}">Run simulation</a></li>
        <li><a id="li_stat" href="{% url 'simulator:simulationStat' %}">Statistics</a></li>
        <li><a onclick="openNav('sign_in', '30%')">Sign in</a></li>
        <li><a onclick="openNav('about', '50%')">About</a></li>
    </ul>
    
    {% block initial_scripts %}

    {% endblock %}


    <div id="sign_in" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sign_in')">&times;</a>
        <div class="overlay-content">
            <form action="{% url 'simulator:signInRun' %}" method="post">
                {% csrf_token %}
                <p style='font-size:120%;text-align:center'>
                    username:
                    <input class="ver2" type="text" name="username">
                    password:
                    <input class="ver2" type="password" name="password">
                </p>

                <input class="ver2" type="submit" value="sign in" />
            </form>
            <p>
                <form action="{% url 'simulator:logOut' %}">
                    {% if user_name %}
                        signed as <b>{{ user_name }}</b>
                    {% endif %}
                    <input class="ver2" type="submit" value="sing out" />
                </form>
            </p>
            <p>
                <input class="ver1" type="submit" value="sign up" onclick="openNav('sign_up', '30%')" />
            </p>
        </div>
    </div>
    <div id="sign_up" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sign_up')">&times;</a>
        <div class="overlay-content">
            <form action="{% url 'simulator:signUp' %}" method="post">
                {% csrf_token %}
                <p style='font-size:120%;text-align:center'>
                    username:
                    <input id="user_name" class="ver2" type="text" name="user_name">
                <p id="information_name"></p>
                mail:
                <input id="user_mail" class="ver2" type="text" name="user_mail"><p id="information_email"></p>
                password:
                <input id="password1" class="ver2" type="password" name="password1" oninput="checkPasswords()">
                confirm password:
                <input id="password2" class="ver2" type="password" name="password2" oninput="checkPasswords()">
                </p>
                <p id="information"></p>
                <input id="password_submit" class="ver2" type="submit" value="register" disabled />
            </form>
        </div>
    </div>
    <div id="about" class="overlay"  onclick="closeNav('about')">
        <div class="overlay-content" style="width:400px;">
            <h3>ELEVATOR GROUP SIMULATOR</h3>
            <h4><a style="font-size:20px" href="https://github.com/piotrekps/elevator_group_simulator">Find at GitHub</a></h4>
            <h5></h5>
            <h7>Application for checking elevators running performace in buildings</h7>
            <ul type="" style='text-align:left'>
                <li>
                    <b>How proceed with app:</b>
                    <ol type="1" style='text-align:left'>
                        <li>Define basic information about your building and edit details</li>
                        <li>Let run elevator group work simulation</li>
                        <li>Find summarized statistics and charts</li>
                    </ol>
                </li>
                <li></li>
                <li>
                    <b>Simulation process run like follows:</b>
                    <ol type="1" style='text-align:left'>
                        <li>Initial processes generate builidng and elevators</li>
                        <li>Random passenger generator put them into building</li>
                        <li>Passangers try to entry cars</li>
                        <li>Elevators control system says elevators where to go with passangers</li>
                        <li>During simualation process information are collected (e.g. passanger arrival time, actual elevator speed, passangers in lobby)</li>
                        <li>When simulation end, data are saved and evaluated to give final results and perform elevator group general rating</li>
                    </ol>
                </li>
        </div>
    </div>
    <script>
        function openNav(a, b) {
            document.getElementById(a).style.width = b;
        };
        function closeNav(a) {
            document.getElementById(a).style.width = "0%";
        };
        $("#user_name").change(function () {
            checkName()
        });
        $("#user_mail").change(function () {
            checkEmail()
        });
        function checkPasswords() {
            var pass1 = document.getElementById("password1").value;
            var pass2 = document.getElementById("password2").value;
            if (pass1 == pass2) {
                $.ajax({
                    url: 'ajax/validatepassword',
                    data: {
                        'password': pass1
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_valid) {
                            var username = $("#user_name").val();
                            $.ajax({
                                url: 'ajax/validate_username',
                                data: {
                                    'username': username
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.is_taken) {
                                        document.getElementById("information_name").innerHTML = "name reserved";
                                    } else {
                                        var usermail = $(user_mail).val();
                                        $.ajax({
                                            url: 'ajax/validateemail',
                                            data: {
                                                'email': usermail
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.is_valid) {
                                                    document.getElementById("information_email").innerHTML = "not email adress";
                                                } else {
                                                    document.getElementById("information").innerHTML = "";
                                                    $("#password_submit").removeAttr('disabled');
                                                }
                                            }
                                        })
                                    }
                                }
                            })
                        } else {
                            document.getElementById("information").innerHTML = "password too weak";
                        }
                    }
                })
            } else {
                document.getElementById("information").innerHTML = "different passwords";
            }
        };
        function checkName() {
            var username = $("#user_name").val();
            $.ajax({
                url: 'ajax/validate_username',
                data: {
                    'username': username
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#password_submit").attr('disabled', 'true');
                        document.getElementById("information_name").innerHTML = "name reserved";
                    } else {
                        document.getElementById("information_name").innerHTML = "";
                    }
                }
            })
        };
        function checkEmail() {
            var usermail = $(user_mail).val();
            $.ajax({
                url: 'ajax/validateemail',
                data: {
                    'email': usermail
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_valid) {
                        $("#password_submit").attr('disabled', 'true');
                        document.getElementById("information_email").innerHTML = "not email adress";
                    } else {
                        document.getElementById("information_email").innerHTML = "";
                    }
                }
            })
        }

    </script>

    {% block content %}

    {% endblock %}

</body>
</html>