<!DOCTYPE html>
<html>

<head>
  <title>Simulator_home</title>
</head>

<body>

    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'simulator/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'simulator/table1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'simulator/side_menu.css' %}" />

    <ul>
	    <li><a class="active" href="{% url 'simulator:index' %}">Home</a></li>
	    <li><a href="{% url 'simulator:newBuilding' %}">Create building</a></li>
	    <li><a href="{% url 'simulator:newBuildingDetails' %}">Building details</a></li>
	    <li><a href="{% url 'simulator:newSimulation' %}">Run simulation</a></li>
	    <li><a href="{% url 'simulator:simulationStat' %}">Statistics</a></li>
	    <li><a onclick="openNav('sign_in')">Sign in{{ user_name }}</a></li>
    </ul>

    <div id="sign_in" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sign_in')">&times;</a>
	    <div class="overlay-content">
		    <form action="{% url 'simulator:signInRun' %}" method="post">
			    {% csrf_token %}
			    <p style='font-size:120%;text-align:center'>
				    username:
				    <input class="ver2" type="text" name="username">
				    password:
				    <input class="ver2" type="password" name="password">
			    </p>
			
			    <input class="ver2" type="submit" value="sign in" />
		    </form>
		    <p>
		    <form action="{% url 'simulator:logOut' %}">
			    <input class="ver2" type="submit" value="sing out" />
		    </form>
		    </p>
		    <p>
			    <input class="ver1" type="submit" value="sign up" onclick="openNav('sign_up')" />
		    </p>
	    </div>
    </div>
    <div id="sign_up" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sign_up')">&times;</a>
        <div class="overlay-content">
            <form action="{% url 'simulator:signUp' %}" method="post">
                {% csrf_token %}
                <p style='font-size:120%;text-align:center'>
                    username:
                    <input id="user_name" class="ver2" type="text" name="user_name"><p id="information_name"></p>
                    mail:
                    <input id="user_mail" class="ver2" type="text" name="user_mail"><p id="information_email"></p>
                    password:
                    <input id="password1" class="ver2" type="password" name="password1" oninput="checkPasswords()">
                    confirm password:
                    <input id="password2" class="ver2" type="password" name="password2" oninput="checkPasswords()">
                </p>
                <p id="information"></p>
                <input id="password_submit" class="ver2" type="submit" value="register" disabled/>
            </form>
        </div>
    </div>

    <script>
        function openNav(a) {
            document.getElementById(a).style.width = "30%";
        };
        function closeNav(a) {
            document.getElementById(a).style.width = "0%";
        };
        $("#user_name").change(function () {
            checkName()
        });
        $("#user_mail").change(function () {
            checkEmail()
        });
        function checkPasswords() {
            var pass1 = document.getElementById("password1").value;
            var pass2 = document.getElementById("password2").value;
            if (pass1 == pass2) {
                $.ajax({
                    url: 'ajax/validatepassword',
                    data: {
                        'password': pass1
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_valid) {
                            var username = $("#user_name").val();
                            $.ajax({
                                url: 'ajax/validate_username',
                                data: {
                                    'username': username
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.is_taken) {
                                        document.getElementById("information_name").innerHTML = "name reserved";
                                    } else {
                                        var usermail = $(user_mail).val();
                                        $.ajax({
                                            url: 'ajax/validateemail',
                                            data: {
                                                'email': usermail
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.is_valid) {
                                                    document.getElementById("information_email").innerHTML = "not email adress";
                                                } else {
                                                    document.getElementById("information").innerHTML = "";
                                                    $("#password_submit").removeAttr('disabled');
                                                }
                                            }
                                        })
                                    }
                                }
                            })
                        } else {
                            document.getElementById("information").innerHTML = "password too weak";
                        }
                    }
                })
            } else {
                document.getElementById("information").innerHTML = "different passwords";
            }
        };
        function checkName() {
            var username = $("#user_name").val();
            $.ajax({
                url: 'ajax/validate_username',
                data: {
                    'username': username
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#password_submit").attr('disabled', 'true');
                        document.getElementById("information_name").innerHTML = "name reserved";
                    } else {
                        document.getElementById("information_name").innerHTML = "";
                    }
                }
            })
        };
        function checkEmail() {
            var usermail = $(user_mail).val();
            $.ajax({
                url: 'ajax/validateemail',
                data: {
                    'email': usermail
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_valid) {
                        $("#password_submit").attr('disabled', 'true');
                        document.getElementById("information_email").innerHTML = "not email adress";
                    } else {
                        document.getElementById("information_email").innerHTML = "";
                    }
                }
            })
        }

    </script>

    <div style="overflow-x:auto;">
    <h3>Last buildings:</h3>
    {% if buildings_list %}
	    <table class="index">
		    <tr> 
			    <th>Id</th>
			    <th>Name</th>
			    <th>Floors</th>
			    <th>Travel</th>
			    <th>Population</th>
			    <th>Cars</th>
		    </tr>
	    {% for building in buildings_list %}
		    <tr>
			    <td>{{ building.id }}</td>
			    <td>{{ building.name }}</td>
			    <td>{{ building.floors }}</td>
			    <td>{{ building.floor_dist }}</td>
			    <td>{{ building.population }}</td>
			    <td>{% for aaaa in building.buildinggroup_set.all %}
					    {{ aaaa.carsNumber }}
				    {% endfor %}
			    </td>
			    <td style="padding: 0px;width:10px">
				    <ul>
				    <button type="button" id='delbud{{ building.id }}' class="ver1" onclick="show('bud{{ building.id }}')">delete</button>
				    <button type="button" id='canbud{{ building.id }}' class="ver2" style="display:none" onclick="hide('bud{{ building.id }}')">cancel</button>
				    <form action="{% url 'simulator:deleteBuilding' %}" method="post">
				    {% csrf_token %}
					    <button id="conbud{{ building.id }}" class="ver1" style="display:none" name="del" value="{{ building.id }}" >delete</button>
				    </form>
				    </ul>			
			    </td>	
		    </tr>
	    {% endfor %}
	    </table>
    {% else %}
        <p>No buildings are available.</p>
    {% endif %}
    </div>

    <div style="overflow-x:auto;">

    <h3>Last simulations:</h3>
        {% if simulations_list %}
	        <table>
		        <tr> 
			        <th>Id</th>
			        <th>Building</th>
                    <th>Rating</th>
			        <th>Arr Rate</th>
			        <th><abbr title="Passengers avarage waiting time">AWT</abbr></th>
                    <th><abbr title="Passengers avarage cars interval">AINT</abbr></th>
			        <th><abbr title="Passengers avarage time to destination">ATTD</abbr></th>
			        <th><abbr title="Avarage cars load factor">ACLF</abbr></th>
			        <th>Calculation date</th>
		        </tr>
	        {% for simulation in simulations_list %}
		        <tr>
			        <td>
			            <form action="{% url 'simulator:simulationStat' %}" method="post">
			            {% csrf_token %}
				            <button class="ver2" name="chartRequest1" value="{{ simulation.id }}" >{{ simulation.id }}</button>
			            </form>
			        </td>
			        <td>{{ simulation.building.name }}</td>
                {% for aaaa in simulation.statsimulationsummary_set.all %}
                    <td>{{ aaaa.rating }}</td>
			        <td>{{ aaaa.AR }}</td>
			        <td>{{ aaaa.AWT }}</td>
                    <td>{{ aaaa.AINT }}</td>
			        <td>{{ aaaa.ATTD }}</td>
			        <td>{{ aaaa.ACLF }}</td>
                {% endfor %}
			        <td id="datecolumn">{{ simulation.date }}</td>
			        <td style="padding: 0px;width:10px">
				        <ul>
				        <button type="button" id='delsim{{ simulation.id }}' class="ver1" onclick="show('sim{{ simulation.id }}')">delete</button>
				        <button type="button" id='cansim{{ simulation.id }}' class="ver2" style="display:none" onclick="hide('sim{{ simulation.id }}')">cancel</button>
				        <form action="{% url 'simulator:deleteSimulation' %}" method="post">
				        {% csrf_token %}
					        <button id="consim{{ simulation.id }}" class="ver1" style="display:none" name="del" value="{{ simulation.id }}" >delete</button>
				        </form>
				        </ul>
			        </td>
		        </tr>
	        {% endfor %}
	        </table>
        {% else %}
            <p>No buildings are available.</p>
        {% endif %}

        <script>
                function show(a) {
                    document.getElementById('del' + a).style.display = "none";
                    document.getElementById('can' + a).style.display = "block";
                    document.getElementById('con' + a).style.display = "block";
                }
                function hide(a) {
                    document.getElementById('del' + a).style.display = "block";
                    document.getElementById('can' + a).style.display = "none";
                    document.getElementById('con' + a).style.display = "none";
                }

                function deleteapproval() {
                    confirm("Delete?");
                }

        </script>
    
    </div>


</body>
</html>