{% extends 'simulator/base.html' %}


{% block initial_scripts %}

<script>
    $('#li_bu_det').attr('class', 'active');
</script>

{% endblock %}




{% block content %}


	<div class='flex-container'>
	
		<div class="flex-item1">
		<nav class="vertical-menu">
			<form action="{% url 'simulator:newBuildingDetails' %}" method="post">
				{% csrf_token %}
				<select name="building_request">
					{% for building in building_list %}
						<option value={{ building.id }}>{{ building.id }}</option>
					{% endfor %}
				</select>
				<input  class='ver2' type="submit" value="Show" />
			</form>
		</nav>
		</div>
		
	
		<div class="flex-item2">
	
			<form action="{% url 'simulator:addNewBuildingDetails' %}" method="post">
				{% csrf_token %}
				<input name="building_id" value="{{ building.id }}" style="display:none">
				<table>
					<caption style="text-align:center;padding:10px;font-size:150% ">{{ building.id }} {{ building.name }}</caption>
					<tr> 
						<th>Id</th>
						<th>Name</th>
						<th>Interfloor</th>
						<th>Population</th>
						<th>Entry</th>
					</tr>
				{% for i in building.buildingfloors_set.all %}
					<tr>
						<td><input class="ver2" type="number" name="id{{ i.local_id}}" 
						min="1" max="99" value='{{ i.local_id }}'></td>
						<td><input class="ver2" type="text" name="name{{ i.local_id }}" 
						value='{{ i.name }}'></td>
						<td><input class="ver2" type="number" name="floor_dist{{ i.local_id }}" 
						min="2" max="99" step="0.01" value='{{ i.interfloor }}'></td>
						<td><input class="ver2" type="number" name="population{{ i.local_id }}" 
						min="0" max="250" value='{{ i.population }}'></td>
						<td><input class="ver2" type="number" name="entry{{ i.local_id }}" 
						min="0" max="100" step="0.01" value="{{ i.entry }}"></td>
					</tr>
				{% endfor %}
				</table>

				<table>
				{% for i in building.buildinggroup_set.all %}
					<tr> 
						<th>Cars number</th>
						<td><input class="ver2" type="number" name="carsNumber" 
						min="1" max="15" value='{{i.carsNumber}}'></td>
					</tr>
					<tr>
						<th>Speed</th>
						<td><input class="ver2" type="number" name="speed" 
						min="0.01" max="10" step="0.01" value='{{i.speed}}'></td>
					</tr>
					<tr>
						<th>Acceleration</th>
						<td><input class="ver2" type="number" name="acceleration" 
						min="0.01" max="2" step="0.01" value='{{ i.acceleration }}'></td>	
					</tr>
					<tr>
						<th>Jerk</th>
						<td><input class="ver2" type="number" name="jerk" 
						min="0.01" max="2" step="0.01" value='{{ i.jerk }}'></td>
					</tr>
					<tr>
						<th>Capacity</th>
						<td><input class="ver2" type="number" name="carCapacity" 
						min="2" max="26" step="1" value='{{ i.carCapacity }}'></td>
					</tr>
					<tr>
						<th>Passenger Transfer Time</th>
						<td><input class="ver2" type="number" name="passengerTransferTime" 
						min="0.5" max="5" step="0.1" value='{{ i.passengerTransferTime }}'></td>	
					</tr>
					<tr>
						<th>Door Opening Time</th>
						<td><input class="ver2" type="number" name="doorOpeningTime" 
						min="1" max="8" step="0.1" value='{{ i.doorOpeningTime }}'></td>
					</tr>
					<tr>
						<th>Door Closing Time</th>
						<td><input class="ver2" type="number" name="doorClosingTime" 
						min="1" max="8" step="0.1" value='{{ i.doorClosingTime }}'></td>
					</tr>
					<tr>
						<th></th>
						<td><input class="ver2" type="submit" value="Confirm changes" /></td>
					</tr>
				{% endfor %}
				</table>

			</form>
		</div>
	</div>
	
{% endblock %}