{% extends 'simulator/base.html' %}


{% block initial_scripts %}

<script>
    $('#li_ru_sim').attr('class', 'active');
</script>

{% endblock %}




{% block content %}

	<div class='flex-container'>
		
		<div class="flex-item2">
		
			<form action="{% url 'simulator:addSimulationDetails' %}" method="post">
			{% csrf_token %}

				<table>
					<tr> 
						<th>Building</th>
						<td>
							<select name="building_id">
								{% for building in building_list %}
									<option value={{ building.id }}>{{ building.id }}</option>
								{% endfor %}
							</select>				
						</td>
					</tr>
					<tr> 
						<th>Passangers arrival time</th>
						<td><input class="ver2" type="number" name="passengersArrivalTime" 
						min="1" max="99999" value='300'></td>
					</tr>
					<tr>
						<th>Start arrival rate [%5min]</th>
						<td><input class="ver2" type="number" name="arrivalRate" 
						min="0.01" max="100" step="0.01" value='1'></td>
					</tr>
					<tr>
						<th>Arrival step</th>
						<td><input class="ver2" type="number" name="arrivalRateStep" 
						min="0.01" max="100" step="0.01" value='1'></td>
					</tr>
					<tr>
						<th>End arrival rate [%5min]</th>
						<td><input class="ver2" type="number" name="arrivalRateEnd" 
						min="0.01" max="100" step="0.01" value='5'></td>
					</tr>
					<tr>
						<th>Seed</th>
						<td><input class="ver2" type="number" name="randomSeed" 
						min="0.01" max="5000" step="0.01" value='37'></td>
					</tr>
					<tr> 
						<th></th>
						<td><input class="ver2" type="submit" value="Add" /></td>
					</tr>
				</table>

			</form>
		</div>
	</div>

{% endblock %}