<!DOCTYPE html>
<html>

<head>
  <title>Simulator_stat</title>
</head>

{% load static %}
{% load jchart %}

<link rel="stylesheet" type="text/css" href="{% static 'simulator/style.css' %}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<body>

	<ul>
		<li><a href="{% url 'simulator:index' %}">Home</a></li>
		<li><a href="{% url 'simulator:newBuilding' %}">Create building</a></li>
		<li><a href="{% url 'simulator:newBuildingDetails' %}">Building details</a></li>
		<li><a href="{% url 'simulator:newSimulation' %}">Run simulation</a></li>
		<li><a class="active" href="{% url 'simulator:simulationStat' %}">Statistics</a></li>
		<li><a href="{% url 'simulator:signIn' %}">SignIn</a></li>
	</ul>
	
	<div class='flex-container'>
	
		<div class="flex-item1">
		<nav class="vertical-menu">
			<form action="{% url 'simulator:simulationStat' %}" method="post">
				{% csrf_token %}
				{% for no in charts_number %}
					<select name="chartRequest{{ forloop.counter }}">
					{% for sim in simulation_list %}
						<option style='width:150px;' value={{ sim.id }}>{{ sim.id }}</option>
					{% endfor %}
					</select>
				{% endfor %}
				<input class='ver2' type="submit" value="Show" />
			</form>
		</nav>
		</div>
		
		aasdasadsas

		<div class="flex-item2">
			{{ line_chart1.as_html }}
			{{ line_chart2.as_html }}
			{{ line_chart3.as_html }}
			
			{% for sim in simulation_list %}
				{% render_chart 'simulator:summary_chart_parameterized' sim.id %}
			{% endfor %}		
	
			

			
			{% render_chart 'simulator:summary_chart_parameterized' 203 %}
			{% render_chart 'simulator:test_chart' 5 %}
			
			
		</div>
		
	</div>
	
	


	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>
	{% block javascript %}{% endblock %}



</body>
</html>