<title>Simulation_history</title>

{% extends 'simulator/base.html' %}

{% block initial_scripts %}
<script>

</script>
{% endblock %}

{% block content %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<h2 style='text-align:center'>Run history for simulation: {{ simulation_id }}</h2>	
	<div class='flex-container'>
		<div class="flex-item1">
		<nav class="vertical-menu">
            
            <p style='text-align:center'>Step:</p>
            <select id="step">
                <option style='width:150px;' value=None>select</option>
                {% for step in steps_list %}
                <option style='width:150px;' value={{ step }}>{{ step }}</option>
                {% endfor %}
            </select>
		</nav>
		</div>
		<div class="flex-item2">

		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>

    <script>
        $('#step').change(function () {
            var step = $(this).val();
            console.log(step)
            $.ajax({
                url: 'ajax/simulationHistoryRequest',
                data: {
                    'step': step,
                },
                dataType: 'json',
                success: function (data) {
                    console.log('1451')
                },
            });
        });

    </script>

{% endblock %}