<title>Simulator_stat</title>

{% extends 'simulator/base.html' %}

{% block initial_scripts %}
<script>
    $('#li_stat').attr('class', 'active');
</script>
{% endblock %}

{% block content %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<div class='flex-container'>
	
		<div class="flex-item1">
		<nav class="vertical-menu">
            <p style='text-align:center'>Charts quantity</p>
            <select id="chartsQuantity">
                <option style='width:150px;' value=None>choose</option>
                <option style='width:150px;' value=1>1</option>
                <option style='width:150px;' value=2>2</option>
                <option style='width:150px;' value=3>3</option>
            </select>
            <br>
            <br>

            <p style='text-align:center'>View style:</p>
            <select id="viewStyle">
                <option style='width:150px;' value='single'>single details</option>
                <option style='width:150px;' value='comparison'>comparison</option>
            </select>
            <br>
            <br>

            <p style='text-align:center'>Data:</p>
            <select id="viewData">
                <option style='width:150px;' value='stepsSummary'>summary</option>
                <option style='width:150px;' value='waitingTimeHistogram'>waiting time histogram</option>
            </select>
            <br>
            <br>


            <p style='text-align:center'>Choose details:</p>

			{% for no in charts_number %}
				<select id="simulationsRequest{{ no }}">
						<option style='width:150px;' value=None>building {{ no }}</option>
					{% for building in buildings_list %}
						<option style='width:150px;' value={{ building.id }}>{{ building.id }} {{ building.name }}</option>
					{% endfor %}
				</select>

				<select id="chartRequest{{ forloop.counter }}">
				</select>

				<br>
				<br>
			{% endfor %}
		</nav>
		</div>
		<div class="flex-item2">
            <canvas id="comparisonChart" width=100% height=100%></canvas>
			{% for no in charts_number %}
				<p id="p_chart{{no}}">
                    <!-- change accordingly also in reffering script -->
                    <canvas id="myChart{{no}}" width=100% height=0%></canvas>
				</p>
			{% endfor %}
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>

    <!-- response for simulation list reqest to put it into select objects -->
	{% for no in charts_number %}
    <script>
            $('#simulationsRequest' + {{ no }}).change(function () {
                var building_id = $(this).val();

                $.ajax({
                    url: 'ajax/simulationsRequest',
                    data: {
                        'building_id': building_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        content = "";
                        temp = "<option style='width:150px;' value=val>val</option>";
                        sim_dict = data.simulation_list;
                        content += temp.replace(/val/g, 'simulation');
                        for (var key in sim_dict) {
                            content += temp.replace(/val/g, sim_dict[key]);
                        };
                        document.getElementById("chartRequest" + {{ no }}).innerHTML = content
            }
			});
		});
    </script>
    {% endfor %}



    <!-- response for data reqest to put it into charts into canvas objects -->
    <script>
        {% for no in charts_number %}
        $('#chartRequest' + {{ no }}).change(function () {
            var simulation_id = $(this).val();
            var view_style = $('#viewStyle').val();
            var view_data = $('#viewData').val();
            //reset canvas before draw new chart:
            $('#myChart' + {{ no }}).remove();
            $('#p_chart' + {{ no }}).append('<canvas id="myChart{{no}}" width=100% height=50%></canvas>');
            $.ajax({
                url: 'ajax/chartRequest',
                data: {
                    'simulation_id': simulation_id,
                    'view_data': view_data,
                },
                dataType: 'json',
                success: function (data) {
                    if ((view_style == 'single') && (view_data == 'stepsSummary')) {
                        createNewChartSingle(data, "myChart" + {{ no }});
                    };
                    if ((view_style == 'single') && (view_data == 'waitingTimeHistogram')) {
                        createNewChartSingleHistogramWT(data, "myChart" + {{ no }});
                    };
                },
			});
		});
        {% endfor %}

    </script>

    <script>
        $('#chartsQuantity').change(function () {
            $('#comparisonChart').data.datasets.forEach((dataset) => {
                dataset.data.push("{ 'x': 0, 'y': 0 }, { 'x': 15, 'y': 500 },")
            });
            $('#comparisonChart').update();

        })
    </script>

    <!-- generate chart into specified canvas object -->
    <script>
        function createNewChartSingle(data, position_id) {
            createNewChart(data, position_id);
        };
        function createNewChartComparison(data, position_id) {
            createNewChart(data, position_id);
        };
        function createNewChart(data, position_id) {
            var data_set
            data_set = [{
                label: 'AWT',
                data: data.AWT,
                fill: false,
                borderColor: 'rgb(255, 0, 0)',
                },
                {
                label: 'ATTD',
                data: data.ATTD,
                fill: false,
                borderColor: 'rgb(255, 191, 0)',
                },
                {
                label: 'AINT',
                data: data.AINT,
                fill: false,
                borderColor: 'rgb(0, 255, 0)',
                },
                {
                label: 'ACLF',
                data: data.ACLF,
                fill: false,
                borderColor: 'rgb(64, 0, 255)',
                },
                {
                label: 'Simulation duration',
                data: data.SimT,
                fill: false,
                borderColor: 'rgb(0, 0, 0)',
                }]
            var ctx = document.getElementById(position_id).getContext('2d');
            myChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: data_set,
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                type: 'linear',
                                position: 'bottom',
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Arrival rate [%] of building population'
                            },
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '[s]'
                            },
                        }]
                    },
                    animation: {
                        duration: 10
                    },
                    title: {
                        display: true,
                        text: '___________' + data.SimId + ':___________',
                    }
                },
            });
        }
        function createNewChartSingleHistogramWT(data, position_id) {
            var data_set = [];
            function aaa(data) {
                var counter = 0
                for (var i in data.WT_n) {
                    couter = (counter) + 1;
                    data_set[i] = {
                        label: 'WT_'+i,
                        data: data.WT_n[i],
                        yAxisID: "y-axis-1",
                        fill: false,
                        backgroundColor: data.colors[i],
                    }
                };
                var add = data_set.length;
                for (var i in data.WT_saturation) {
                    data_set[parseInt(i) + add] = {
                        label: 'WT_sat_' + i,
                        data: data.WT_saturation[i],
                        yAxisID: "y-axis-2",
                        fill: false,
                        type: 'line',
                        borderColor: data.colors[i],
                    }
                };
            };
            aaa(data);

            labels_set = data.WT_bins[0];

            var ctx = document.getElementById(position_id).getContext('2d');
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels_set,
                    datasets: data_set,
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: '[s]',
                            },
                            
                        }],
                        yAxes: [
                            {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'histogram [%]',
                                },
                                type: "linear",
                                display: true,
                                position: "left",
                                id: "y-axis-1",
                            },
                            {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'saturation [%]',
                                },
                                type: "linear",
                                display: true,
                                position: "right",
                                id: "y-axis-2",
                            },
                        ],
                    },
                    animation: {
                        duration: 10
                    },
                    title: {
                        display: true,
                        text: '___________' + data.SimId + ':___________',
                    }
                },
            });
        }
    </script>
{% endblock %}