table {
	width: 100%;
	text-align: center;
		
}

th, td {
	padding: 3px;
	border-bottom: 1px solid #ddd;
	
}

th {
	background-color: #4CAF50;
    color: white;
}


tr:nth-child(even):not(.hover) {background-color: #e6e6e6}

